/* スタイルの設定 */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="text"] {
    width: 100%;
    padding: 6px 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#0d7dfd;
}
li:hover{
    background: #0d7dfd;
    color:#fff;
}
#drinkType {
    cursor: pointer;
}
#datePicker {
    cursor: pointer;
}
#chart {
    position: relative;
    width:  calc(100% - 40px);
    height: 100px;
    overflow: hidden;
    margin:20px;
}